
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.counter{
    width: 100px;
    margin-left: 10px;
}
.box{
    display: inline-block;
    height: 150px;
    background-color: #0e0e0e;
    border-radius: 10px;
}
.box1{
    display: inline-block;
    height: 150px;
    background-color: #eeee04;
    border-radius: 10px;
}
.box2{
    display: inline-block;
    height: 150px;
    background-color: #023e72;
    border-radius: 10px;
}
.box3{
    display: inline-block;
    height: 150px;
    background-color: #f30a0a;
    border-radius: 10px;
}
.box4{
    display: inline-block;
    height: 150px;
    background-color: #08eed7;
    border-radius: 10px;
}
.box5{
    display: inline-block;
    height: 150px;
    background-color: #a508ee;
    border-radius: 10px;
}
.app{
    width: 100%;
    
    height: 180px;
    color: white;
    font-size: 110px;
    text-align: center;
    padding-top: 10px;
}
.icon{
    width: 140px;
}



body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 50%,#222, #111, #080808);
}
